/* Put your CSS here */
html, body {
    margin: 0;
    background: black;
}

.image {
   background-position: center;
   background-size: cover;
}

.audio {
  background-color: green;
}

.video {
  background-color: red;
}
